*{
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	/*outline: 1px solid red;*/
}
body{
	margin: 0;
	color: #111;
	font: 300 12px/1 "Open Sans", sans-serif;
}
h1, h2, h3, h4, h5, h6, p{
	margin: 0;
}
ul, ol{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	color: inherit;
	text-decoration: none;
}
img{
	max-width: 100%;
}
textarea{
	resize: vertical;
}
input,
textarea,
button{
	outline: none;
	border: none;
}
button{
	cursor: pointer;
}
.text-center{
	text-align: center;
}
/*DEFAULT CLASSES START*/
.border-top{
	border-top: 1px solid #ececec;
}
.grey-bg{
	background-color: #f8f8f8;
}
/*DEFAULT CLASSES END*/
/*DEFAULT COMPONENT STYLE START*/
.default-section{
	padding: 140px 0;
}
.small-section{
	padding: 70px 0;
}
.title{
	font-family: 'Dosis', sans-serif;
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: .5em;
	margin-bottom: 75px;
}
.title.color-white{
	color: #ffffff;
}
.title.text-light{
	font-weight: 300;
	letter-spacing: .3em;
}
.box{
	height: 50px;
}
blockquote{
	padding: 0;
	margin: 0;
	border: none;
	font-size: 24px;
	color: #777;
	line-height: 1.6;
}
blockquote span{
	font-size: 11px;
	font-weight: 400;
	letter-spacing: .2em;
}
.text-section{
	font-size: 15px;
	line-height: 1.73;
}
.btn{
	letter-spacing: .2em;
	padding: 12px 40px;
	border: none;
	text-transform: uppercase;
	border-radius: 2px;
}
.btn:active:focus,
.btn:focus{
	outline: none;
}
.btn.btn-default{
	background-color: rgba(255, 255, 255, .8);
}
.btn.btn-default:hover{
	background-color: rgba(255, 255, 255, .9);
}
.btn.btn-dark{
	background-color: #323232;
	color: #fff;
}
.btn.btn-dark:hover{
	background-color: #525252;
}
.form-group{
	margin-bottom: 10px;
}
.form-control{
	height: 40px;
	background-color: #dfdfdf;
	border-radius: 2px;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: .2em;
	color: #777;
	-webkit-box-shadow: none;
	        box-shadow: none;
}
.form-control:focus{
	border-color: #bfbebe;
	-webkit-box-shadow: none;
	        box-shadow: none;
}
textarea.form-control{
	min-height: 90px;
}
/*DEFAULT COMPONENT STYLE END*/
/*HEADER STYLE START*/
.header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	padding: 27px 30px 27px 30px;
	background-color: #131313;
	z-index: 9;
}
.header-nav li{
	display: inline-block;
	text-transform: uppercase;
}
.header-nav li a{
	font-size: 11px;
	text-decoration: none;
	letter-spacing: 3px;
	line-height: 21px;
	color: #ffffff;
	opacity: .75;
}
.header-nav li a:hover{
	opacity: 1;
}
.header-nav li + li{
	margin-left: 35px;
}
/*HEADER STYLE END*/

/*MAIN STYLE START*/
/*INNER START*/
.inner{
	position: relative;
	background-color: #131313;
	height: 100vh;
	padding-top: 48px;
	text-align: center;
}
.inner::before{
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-left: -4px;
}
.inner-content{
	display: inline-block;
	color: #fefefe;
	vertical-align: middle;
}
.inner-content h6{
	font-family: "Dosis", sans-serif;
	font-size: 30px;
	font-weight: 300;
	letter-spacing: 1.7em;
	text-transform: uppercase;
}
.inner-content span{
	display: block;
	margin-top: 100px;
	font-size: 19px;
	opacity: .2;
}
.inner-anchor{
	display: block;
	width: 26px;
	height: 26px;
	position: absolute;
	bottom: 10%;
	left: 50%;
	z-index: 2;
	background-color: #fff;
	-webkit-transform: translateY(-50%) rotate(45deg);
	        transform: translateY(-50%) rotate(45deg);
}
.inner-anchor:hover{
	opacity: .8;
}
.inner-anchor i.fa{
	position: absolute;
	left: 50%;
	bottom: 5px;
	font-size: 15px;
	-webkit-transform: translateY(27%) rotate(-45deg);
	        transform: translateY(27%) rotate(-45deg);
}
/*INNER END*/

/*ABOUT US START*/
.our-team{
	margin-top: 100px;
}
.team-item-img{
	position: relative;
}
.team-item-info{
	padding: 25px 5px 0;
	font-family: "Dosis", sans-serif;
	color: #777;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: .4em;
}
.team-item-info span{
	display: block;
}
.team-item-info span.team-item-name{
	font-size: 15px;
	margin-bottom: 12px;
}
.team-item-info span.team-item-role{
	font-size: 12px;
}
.team-item-skills{
	opacity: 0;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: lightgray;
	-webkit-transition: opacity .3s linear;
	transition: opacity .3s linear;
}
.team-item-img:hover .team-item-skills{
	opacity: 1;
}
/*ABOUT US END*/

/*SERVICES START*/
.nav-tabs{
	border: none;
}
.services-tabs .nav-tabs>li{
	width: 20%;
	text-align: center;
}
.nav-tabs>li>a,
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover{
	padding: 0;
	margin: 0;
	border: none;
	opacity: .8;
	background-color: transparent;
	color: #111;
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li>a:hover{
	opacity: 1;
}
.nav-tabs li .tablist-title,
.portfolio-tabs .nav-tabs li{
	display: block;
	font-size: 14px;
	letter-spacing: .4em;
	font-family:"Dosis", sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	margin-top: 35px;
}
.nav-tabs li .icon{
	font-size: 48px;
}
.tab-content .tab-pane{
	padding-top: 70px;
}
/*SERVICES END*/

/*LETS TALK START*/
.lets-talk{
	background: url("../img/lets-talk-bg.jpg")no-repeat center /cover;
}
.lets-talk-content{
	margin: 140px 0;
}
.lets-talk-content .title{
margin-bottom: 22px;
}
.lets-talk-content p{
color: rgba(255, 255, 255, .75);
font-weight: 300;
	font-size: 15px;
	line-height: 1.73;
	margin-bottom: 40px;
}
.lets-talk-img{
	margin-top: -32px;
}
/*LETS TALK END*/

/*PORTFOLIO START*/
.default-section.portfolio{
	padding-bottom: 0;
}
.portfolio p{
	margin: 0 auto;
	max-width: 755px;
	font-size: 15px;
	line-height: 1.73;
	color: #777;
}
.portfolio-tabs .nav-tabs li{
	font-size: 13px;
	padding-top: 40px;
	text-transform: uppercase;
}
.portfolio-tabs .nav-tabs{
	display: inline-block;
	text-align: center;
}
.portfolio-tabs .nav-tabs li+li{
	margin-left: 65px;
}
.portfolio-row row{
}
.portfolio-tabs .portfolio-col{
	width: 33%;
	float: left;
}
.portfolio-tabs img{
	padding: 4px;
}
.like-our-work{
	background-color: #111;
}
.like-our-work .title{
	margin-top: 65px;
	margin-bottom: 20px;
}
.like-our-work .btn-default {
	margin-bottom: 70px;
}
/*PORTFOLIO END*/

/*WHY CHOOSE US START*/
.why-choose-us-item{
	margin-bottom: 60px;
}
.why-choose-us-item span{
	font-size: 48px;
}
.why-choose-us-description,
.why-choose-us-description p{
	padding-top: 35px;
}
.why-choose-us-description h6{
	font-family: "Dosis", sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: .4em;
	color: #111111;
}
.why-choose-us-description p{
	font-size: 14px;
	line-height: 1.85;
	text-align: left;
}
/*WHY CHOOSE US END*/


/*REVIEWS START*/
.reviews{
	background-color: #000;
	overflow: hidden;
}
.reviews .carousel-caption{
	position: static;
}
.reviews .carousel-caption .title{
	margin-bottom: 40px;
}
.reviews .carousel-caption p{
	font-size: 18px;
	line-height: 1.6;
	max-width: 750px;
	margin: 0 auto 20px auto;
	color: rgba(255, 255, 255, .75);
}
.reviews .carousel-caption > span{
	font-size: 11px;
	color: rgba(255, 255, 255, .3);
	text-transform: uppercase;
	letter-spacing: .2em;
}
.icon-wrap{
	text-align: center;
	margin-bottom: 20px;
}
.icon-wrap span{
	font-size: 32px;
}
@media (min-width: 768px) {
	.carousel-indicators{
		bottom: -45%;
	}
}
.carousel-indicators li{
	width: 9px;
	height: 9px;
	background-color: rgba(255, 255, 255, .8);
	border: 2px solid transparent;
}
.carousel-indicators .active{
	background-color: transparent;
	border-color: rgba(255, 255, 255, .8);
}
.carousel-control{
	background: none;
	opacity: 0;
	width: 85px;
	-webkit-transition: opacity .1s linear, -webkit-transform .2s linear;
	transition: opacity .1s linear, -webkit-transform .2s linear;
	transition: opacity .1s linear, transform .2s linear;
	transition: opacity .1s linear, transform .2s linear, -webkit-transform .2s linear;
	-webkit-transform: translateX(-10px);
	        transform: translateX(-10px);
}
.carousel-control::before{
	content: '';
	display: block;
	position: absolute;
	width: 85px;
	height: 85px;
	background-color: #fff;
	top: 50%;
	left: -50%;
	-webkit-transform: translateY(-50%) rotate(45deg);
	        transform: translateY(-50%) rotate(45deg);
}
.carousel-control.right{
	-webkit-transform: translateX(10px);
	        transform: translateX(10px);
}
.carousel-control.right::before{
	left: auto;
	right: -50%;
}
.reviews:hover .carousel-control{
	opacity: 1;
	-webkit-transform: translateX(0);
	        transform: translateX(0);
}
.carousel-control i.fa{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
	color: #222;
	left: 20px;
}
.carousel-control.right i.fa{
	left: auto;
	right: 20px;
}
/*REVIEWS END*/

/*LATEST NEWS START*/
.latest-news a{
	font-size: 11px;
	color: #999999;
	letter-spacing: 0.4em;
}
.latest-news-description{
	font-size: 15px;
	color: #777;
}
.latest-news-title{
	padding: 28px 0;
	font-family: "Dosis", sans-serif;
	letter-spacing: .2em;
	text-transform: uppercase;
}
.latest-news-info{
	display: block;
	padding-top: 18px;
	color: #999;
	font-size: 11px;
	letter-spacing: .4em;
}
.latest-news-content{
	line-height: 1.73;
	margin-bottom: 28px;
}
.latest-news-item a.btn{
	padding: 9px 15px;
	background-color: rgba(229, 229, 229, 0.8);
	border-radius: 2px;
	letter-spacing: 0.2em;
}
.latest-news-item a.btn:hover{
	background-color: rgba(229, 229, 229, 0.5);
}
/*LATEST NEWS END*/

/*SUBSCRIBE FORM START*/
.subscribe .title{
	margin-bottom: 15px;
}
.subscribe input[name="userEmail"]{
	width: 293px;
}
.subscribe .form-group{
	margin-right: 3px;
}
.subscribe .form-info span,
/*SUBSCRIBE FORM END*/

/*CONTACT FORM START*/
.form-submit .form-col span{
	display: block;
	margin-top: 20px;
	font-size: 11px;
	color: #aaa;
}
.subscribe .form-info i,
.form-submit .form-col i{
	font-size: 12px;
}

.form-col{
	width: 50%;
	padding: 0 5px;
	float: left;
}
.form-submit{
	clear: both;
}
.contact-us form{
	margin: 0 -5px;
}
.contact-item-icon,
.on-map-icon{
	width: 25px;
	height: 25px;
	background-color: #000000;
	float: left;
	margin-right: 14px;
	color: #fff;
	font-size: 14px;
	text-align: center;
	line-height: 25px;
	-webkit-transform: rotate(45deg);
	        transform: rotate(45deg);
}
.contact-item-icon i,
.on-map-icon i{
	-webkit-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}
.contact-item-content{
	margin-bottom: 80px;
}
.contact-item-name,
.contact-item-info{
	display: block;
	vertical-align: middle;
}
.contact-item-name{
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: .3em;
	color: #777777;

}
.contact-item-info{
	font-size: 15px;
	line-height: 1.6;
	color: #444444;
}
.contact-item:before {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	content: "";
}
.contact-item-content {
	display: inline-block;
	vertical-align: middle;
}
.contact-item{
	margin-left: 5px;
}
/*CONTACT FORM END*/

/*MAP START*/
.map{
	position: relative;
	overflow: hidden;
}
.map iframe{
	width: 100%;
	height: 410px;
}
.on-map-block{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .9);
	-webkit-transition: all.3s linear;
	transition: all.3s linear;
}
.map:hover .on-map-block{
	-webkit-transform: translateY(100%);
	        transform: translateY(100%);
	opacity: 0;
}
.on-map-icon{
	display: inline-block;
	background-color: #ffffff;
}
.on-map-icon i{
	color: #222222;
}
.on-map-text{
	display: block;
	font-size: 16px;
	letter-spacing: .3em;
	text-transform: uppercase;
	color: #ffffff;
}
.on-map-block:before{
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	content: "";
}
.on-map-content{
	margin-left: 50%;
	-webkit-transform: translateX(-50%);
	        transform: translateX(-50%);
	display: inline-block;
	vertical-align: middle;
}
/*MAP END*/
/*MAIN STYLE END*/

















