.avatar {
    width: 21em;
    height: 25em;
    float: left;
    margin-right: 20px;
    position: relative;
    background: url("../img/vasiliy_manilo.jpg") no-repeat;
    background-size: cover;
}
.avatar:hover {
    box-shadow: 10px 10px 30px #000;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -ms-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    transition: all .5s ease-in;
}
.main__title {
    color: #ffffff;
}
.article {
    max-width: 1200px;
    margin: 150px auto;
    padding: 10px;
    border-radius: 10px;
    background: #32c3fc;
    background: -moz-linear-gradient(-45deg, #32c3fc 0%, #378ed6 44%, #448dc9 48%, #a93cf2 100%);
    background: -webkit-linear-gradient(-45deg, #32c3fc 0%,#378ed6 44%,#448dc9 48%,#a93cf2 100%);
    background: linear-gradient(135deg, #32c3fc 0%,#378ed6 44%,#448dc9 48%,#a93cf2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32c3fc', endColorstr='#a93cf2',GradientType=1 );
}
p {
    text-indent: 1.5em;
    text-align: justify;
}
span {
    background-color: #FFFF00;
}
#contact {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
}
a {
    text-decoration: none;
    color: #FFFFFF;
}
a:hover {
    text-decoration: underline;
}